@import "reset.css";
html, body{
    width: 100%;
    height: 100%;
}
body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
}
.sc{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: 10;
}
.sc.selected{
	display: block;
	z-index: 11;
}



#home ul{
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 0;
}
#home ul li{
	height: 72px;
	width: 72px;
	background: #fff;
	display: inline-block;
	margin: 22px 0 0 22px;
	border-radius: 6px;;
}

#home{
	background: #333;
}
#screen1{
	background: #2C3E50;
}
#screen2{
	background: #E74C3C;
}
#screen3{
	background: #3498DB;
}
#screen4{
	background: #ECF0F1;
}
#screen5{
	background: #2C3E50;
}
#screen6{
	background: #E74C3C;
}
#screen7{
	background: #3498DB;
}
